.color-one {
  color: #31a5ac;
}
.color-two {
  color: #59a5ff;
}
.btn-bg {
  background-color: #59a5ff;
  color: #f8f8f8;
  font-size: 18px;
}
.calculation-form {
  background-color: #f8f8f8;
}
/* container styles */
.container img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

@media only screen and (max-width: 576px) {
  .container img {
    width: 100%;
    height: 100%;
  }
}
